// ================================================
// Base 全体に影響するもの
// ================================================
@use 'variables' as v;

// カラー変数の定義 -
:root {
  // 基本カラー
  --navy: #{v.$navy};
  --light-navy: #{v.$lightnavy};
  --white: #{v.$white};
  --black: #{v.$black};
  --gray: #{v.$gray};
  --red: #{v.$red};

  // 装飾系カラー
  --yellow: #{v.$yellow};
  --light-yellow: #{v.$lightyellow};
  --navy-bg: #{v.$main-bg-color};
  --font-md: 1.2857rem; // 18px
  --font-lg: 1.4285rem; // 20px,
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /**
  @include v.media("sp") {
    font-size: 10px;
    line-height: 1;
  } **/
}

html {
  font-size: 14px;

  @include v.media(tab) {
    font-size: 12px;
  }

  @include v.media(sp) {
    font-size: 10px;
  }
}

body {
  position: relative;
  font-family: v.$font-main;
  font-weight: var(--font-weight-regular);
  color: var(--black);

  &::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    content: '';
    background-image:
      repeating-linear-gradient(to bottom, var(--navy-bg) 0, var(--navy-bg) 1px, transparent 1px, transparent 1rem),
      repeating-linear-gradient(to right, var(--navy-bg) 0, var(--navy-bg) 1px, transparent 1px, transparent 1rem);
    background-size: 1rem 1rem;
  }
}

main {
  position: relative;
  padding-bottom: 9rem;
}

.container {
  max-width: 1440px;
  padding: 2rem 1rem;
  margin: 0 auto;

  @include v.media(mobile) {
    width: 98%;
    padding: 1rem;
  }
}

.inner {
  width: 80%;
  margin: 0 auto;
  margin-inline: auto;

  @include v.media(sp) {
    width: 100%;
  }
}

.main-layout {
  display: grid;
  grid-template-columns: 65% 30%;
  gap: 5%;
  margin-block: auto;
  margin-inline: auto;

  @include v.media(sp) {
    grid-template-columns: 100%;
    gap: 5rem;
    padding: 1rem;
  }

  &-reverse {
    display: grid;
    grid-template-columns: 30% 65%;
    gap: 5%;
    align-items: center;

    @include v.media(tab) {
      grid-template-columns: 40% 55%;
    }

    @include v.media(sp) {
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr;
    }
  }
}

.flex-box {
  gap: 3rem;

  @include v.flex(center, stretch);

  @include v.media(sp) {
    flex-direction: column;
  }
}

.radius {
  @extend %radius;
}

.title {
  &-box {
    margin-bottom: 5rem;
    text-align: center;
  }

  &-main {
    display: inline-block;

    @extend %font-lg-black;
  }

  &-subcontent {
    @extend %font-md-black;
  }
}

ul {
  .main-layout & {
    display: grid;
    gap: 3rem;
    text-align: center;
  }
}

.sp {
  display: none;

  @include v.media(mobile) {
    display: block;
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Rounded';
}

.social-icon {
  display: inline-block;
  vertical-align: middle;
}

.logo,
.footer-logo {
  width: 100%;
  max-width: 200px;
  max-height: 72px;
}
