// ================================================
// Base 全体に影響するもの
// ================================================
@use "variables" as v;

// カラー変数の定義 -
:root {
  //基本カラー
  --navy: #{v.$navy};
  --light-navy: #{v.$lightnavy};

  --white: #{v.$white};
  --black: #{v.$black};
  --gray: #{v.$gray};
  --red: #{v.$red};
  //装飾系カラー
  --yellow: #{v.$yellow};
  --light-yellow: #{v.$lightyellow};
  --navy-bg: #{v.$main-bg-color};

  --font-md: 18px; // 18px
  --font-lg: 20px; // 20px,
  /**
  @include v.media("sp") {
    font-size: 10px;
    line-height: 1;
  } **/
}
html {
  font-size: 14px;
}
body {
  font-family: v.$font-main;
  font-weight: 900; //太め
  line-height: 1.5;
  color: var(--black);
}
main {
  position: relative;
  padding-bottom: 9rem;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background-image: repeating-linear-gradient(
        to bottom,
        var(--navy-bg) 0,
        var(--navy-bg) 1px,
        transparent 1px,
        transparent 1rem
      ),
      repeating-linear-gradient(to right, var(--navy-bg) 0, var(--navy-bg) 1px, transparent 1px, transparent 1rem);
    background-size: 1rem 1rem;
  }
}

.container {
  max-width: 1440px;
  padding: 2rem 0;
  margin: 0 auto;

  @include v.media(mobile) {
    width: 98%;
    padding: 1rem 0;
  }
  // サイドバーありのレイアウト
  &.main-layout {
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 5%;
    padding-right: 5rem;
    padding-left: 5rem;

    @include v.media(mobile) {
      grid-template-columns: 100%;
      gap: 5rem;
      padding: 1rem;
    }
  }
}
.radius {
  @extend %radius;
}

.title-box {
  margin-bottom: 5rem;
  font-weight: bolder;
  text-align: center;

  &-main {
    font-size: var(--font-lg);
  }

  &-sub-title {
    font-size: var(--font-md);
  }
}

ul {
  .main-layout & {
    display: grid;
    gap: 3rem;
    text-align: center;
  }
}

.sp {
  display: none;

  @include v.media(mobile) {
    display: block;
  }
}
.material-symbols-outlined {
  font-family: "Material Symbols Rounded";
}
