// ================================================
// Base 全体に影響するもの
// ================================================
@use "variables" as v;

// カラー変数の定義 -
:root {
  --green: #{v.$green};
  --lightgreen: #{v.$lightgreen};
  --yellow: #{v.$yellow};
  --white: #{v.$white};
  --black: #{v.$black};
  --gray: #{v.$gray};
  --red: #{v.$red};
  --font-md: 1.2857rem;
  --font-lg: 1.4286rem;

  font-family: #{v.$font-main};
  font-size: 14px;
  line-height: 1.5;
  color: var(--black);

  /**
  @include v.media("sp") {
    font-size: 10px;
    line-height: 1;
  } **/
}

main {
  position: relative;

  &::before {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    content: "";
    background-image: repeating-linear-gradient(
        to bottom,
        var(--lightgreen) 0,
        var(--lightgreen) 1px,
        transparent 1px,
        transparent 21px
      ),
      repeating-linear-gradient(to right, var(--lightgreen) 0, var(--lightgreen) 1px, transparent 1px, transparent 17px);
  }
}
