// ================================================
// Base 全体に影響するもの
// ================================================
@use "variables" as v;

// カラー変数の定義 -
:root {
  --green: #{v.$green};
  --lightgreen: #{v.$lightgreen};
  --yellow: #{v.$yellow};
  --white: #{v.$white};
  --black: #{v.$black};
  --gray: #{v.$gray};
  --red: #{v.$red};
  --font-md: 1.2857rem; // 18px
  --font-lg: 1.4286rem; // 20px

  font-family: v.$font-main;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: var(--black);

  /**
  @include v.media("sp") {
    font-size: 10px;
    line-height: 1;
  } **/
}

body {
  margin: 0;
}

main {
  position: relative;

  &::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    content: "";
    background-image: repeating-linear-gradient(
        to bottom,
        var(--lightgreen) 0,
        var(--lightgreen) 1px,
        transparent 1px,
        transparent 21px
      ),
      repeating-linear-gradient(to right, var(--lightgreen) 0, var(--lightgreen) 1px, transparent 1px, transparent 17px);
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;

  main & {
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 3rem;
  }
}

.radius {
  @extend %radius;
}

.title-box {
  font-weight: bolder;
  text-align: center;

  &-title {
    font-size: var(--font-lg);
  }

  &-sub-title {
    font-size: var(--font-md);
  }
}
