@forward 'parts/header'; // style.scssでの読込軽減
@forward 'parts/footer';
@forward 'parts/humberger';
@forward 'parts/seal';
@forward 'parts/slider';
@forward 'parts/diagnostic';
@forward 'parts/categoryranking';
