// ================================================
// Variables 変数
// ================================================

$yellow: #ffe34d;
$lightyellow: #fff7ca;
$navy: #146c94;
$lightnavy: #6d98ac;
$white: #fff;
$black: #333;
$gray: #9d9c9c;
$red: #ed5454;
$main-bg-color: #80acc0;
$font-main:
  'VDL-V7MaruGothic', 'Zen Maru Gothic', 'M PLUS Rounded 1c', 'Noto Sans JP', 'Material Symbols Rounded', system-ui,
  sans-serif;
$breakpoints: (
  sp: 'screen and (max-width: 767px)',
  tab: 'screen and (min-width : 768px) and (max-width: 1023px)',
  mobile: 'screen and (max-width:1023px)',
  pc: 'screen and (min-width: 1024px)'
);

// ================================================
// mixins ミックスイン(共通スタイル)
// ================================================

// レスポンシブ対応
@use 'sass:map';

@mixin media($breakpoint) {
  @media #{map.get($breakpoints,$breakpoint)} {
    @content;
  }
}

// テンプレートレイアウト
// flexbox
@mixin flex($content: space-between, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $content;
}

// 絶対指定で上下中央
%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
%border {
  border-color: var(--navy);
  border-style: solid;
  border-width: 10px;
}
%radius {
  border-radius: 30px;
}
%list-disc {
  text-align: left;
  list-style: disc;
  list-style-position: inside;
}
%font-md-black {
  font-size: var(--font-md);
  font-weight: var(--font-weight-black);
}
%font-lg-black {
  font-size: var(--font-lg);
  font-weight: var(--font-weight-black);
}
%title-border {
  position: relative;

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    content: '';
    border-bottom: 5px solid;
  }
}
%title-border-150 {
  position: relative;
  margin-bottom: 3rem;

  &::after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 150%;
    height: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    content: '';
    border-bottom: 5px solid;
    transform: translateX(-50%);
  }
}
