// ================================================
// Variables 変数
// ================================================

$color-child-primary: #f3f3f3;
$color-child-secondary: #0c0c0c;
$color-child-accent: #f00;
$color-child-accent-secondary: #00f;
$color-child-text: #f3f3f3;
$font-main: "Shippori Mincho", "Noto Sans JP", "Noto Serif JP", "游明朝", serif, "Material Icons";
$breakpoints: (
  sp: "screen and (max-width: 767px)",
  tab: "screen and (min-width : 768px) and (max-width: 1023px)",
  pc: "screen and (min-width: 1024px)",
  mobile: "screen and (max-width:1023px)"
);

// ================================================
// mixins ミックスイン(共通スタイル)
// ================================================

// レスポンシブ対応
@use "sass:map";

@mixin media($breakpoint) {
  @media #{map.get($breakpoints,$breakpoint)} {
    @content;
  }
}

// テンプレートレイアウト
// flexbox
@mixin flex($content: space-between, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $content;
}

// 行指定でおりかえし(最大縦列を引数で指定)
@mixin grid-row($rows) {
  grid-template-rows: repeat($rows, auto);
  grid-auto-flow: column;
}

// 絶対指定で上下中央
%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%, -50%;
}

%sub-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

%list-disc {
  text-align: left;
  list-style: disc;
  list-style-position: inside;
}
