@use 'variables' as v;
@use 'bases' as b;

.woocommerce {
  &-breadcrumb {
    padding: 0.5rem !important;
    font-size: var(--font-md) !important;
    color: var(--white) !important;
    background-color: var(--navy);

    a {
      color: inherit !important;
    }
  }

  &-breadcrumb .container {
    padding: 0;
  }

  header {
    margin-bottom: 3rem;
    text-align: center;
  }

  .product-list {
    margin-top: 2rem;
  }

  .page-title {
    display: inline-block;
    margin-bottom: 2rem;
    font-size: var(--font-lg);
    font-weight: var(--font-weight-medium);

    @extend %title-border-150;

    &::after {
      border-bottom-color: var(--black);
    }
  }

  &-loop-category__title,
  &-loop-product__title {
    font-size: var(--font-lg) !important;
  }

  &-pagination {
    ul {
      border-color: transparent !important;

      li {
        margin: 0 1rem !important;
        background-color: var(--yellow);

        @extend %radius;
      }

      span,
      a {
        font-size: var(--font-md) !important;

        &:hover {
          color: var(--white) !important;
          background-color: var(--navy) !important;
        }

        .current {
          color: var(--white) !important;
          background-color: var(--navy) !important;
        }
      }
    }
  }
}

ul {
  &.products {
    text-align: center;

    li.product {
      padding: 1rem !important;
      overflow: hidden;
      background-color: var(--white);

      @extend %border;
      @extend %radius;

      .onsale {
        top: 2rem !important;
        right: 2rem !important;
        display: grid;
        align-content: center;
        align-items: center;
        min-width: 4rem;
        aspect-ratio: 1;
        color: var(--black);
        background-color: var(--yellow);
      }

      img {
        margin-inline: auto;
        border-radius: 15px;
      }
    }
  }
}

.single {
  .product {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;

    @include v.media(sp) {
      grid-template-columns: 100%;
    }

    &-title {
      margin-bottom: 3rem;

      @extend %font-md-black;
    }

    &-description {
      grid: 1/-1;
      margin-top: 5rem;
      text-align: center;

      .title-main {
        position: relative;
        margin-bottom: 5rem;

        &::after {
          position: absolute;
          top: 100%;
          left: 50%;
          width: 300%;
          height: 5px;
          margin-top: 1rem;
          margin-bottom: 1rem;
          content: '';
          border-bottom: 5px solid;
          transform: translateX(-50%);
        }
      }
    }
  }

  .image-gallery {
    position: relative;
  }

  .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 99;
    box-sizing: content-box;
    width: 36px;
    height: 36px;
    padding: 0;
    font-size: 2em;
    text-indent: -9999px;
    cursor: pointer;
    background: #fff;
    border: none;
    border-radius: 100%;
  }

  .images {
    float: none !important;
  }

  .entry-summary {
    display: grid;
    gap: 3rem;

    > div {
      flex-direction: column;
      gap: 1.5rem;

      @include v.flex(space-between, flex-start);
    }
  }

  .price {
    font-size: var(--font-lg) !important;
    color: inherit !important;

    &down-info {
      display: inline-block;
      padding: 1rem 0.5rem;
      font-weight: var(--font-weight-black);
      color: var(--white);
    }
  }

  .cart {
    width: 100%;
    margin-bottom: 0 !important;
    text-align: center;
  }

  .quantity {
    display: none;
  }

  &_add_to_cart_button {
    width: 70%;
    padding: 2rem;
    font-size: var(--font-lg);
  }
}

/**
  *実力診断テスト商品一覧のみの適用
**/
.diagnostic {
  .page-title {
    color: var(--white);

    &::after {
      border-color: var(--white);
    }
  }

  .woocommerce-products-header__content {
    color: var(--white);
  }

  ul.products {
    li.product {
      border: none;
    }
  }
}
