@use '../variables' as v;

.diagnostic {
  @include v.media(mobile) {
    width: 100%;
    height: auto;
  }

  &-imgbox {
    width: 100%;
  }

  &-img {
    max-width: 100%;
    height: auto;
    margin-inline: auto;
  }

  &-textarea {
    width: 100%;
    max-width: 45%;
    margin-block: auto;
    text-align: center;

    @extend %font-md-black;

    @include v.media(sp) {
      max-width: none;
    }
  }

  &-content {
    margin-bottom: 1.5rem;
  }

  &-title {
    margin-bottom: 1rem;
    font-size: 2em;
  }

  &-link {
    max-width: 45%;
    font-weight: var(--font-weight-black);
  }

  .title {
    &-box {
      color: var(--white);
    }

    &-main {
      position: relative;
      margin-bottom: 2rem;

      &::after {
        position: absolute;
        top: 150%;
        left: 0;
        width: 100%;
        content: '';
        border-bottom: 5px solid var(--white);
      }
    }
  }
}
