// ==================================================================
// footer
// ==================================================================
@use '../variables' as v;

footer {
  padding-bottom: env(safe-area-inset-bottom);
}

.footer {
  @include v.media(sp) {
    &-logo {
      grid-column: 2;
    }
  }

  &-nav-list {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    margin-top: 1rem;
  }

  .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 3rem;
  }

  .nav {
    &-title {
      width: 80%;
      line-height: 1.5;
    }

    &-container {
      display: flex;
      grid-column: 3;
      gap: 3rem;
      justify-content: space-evenly;

      @include v.media(sp) {
        grid-row: 2;
        grid-column: 1 / -1;
      }
    }
  }

  nav {
    display: grid;
    gap: 1rem;
    place-content: start;

    &[data-role='footer-nav'] {
      grid-column: 3;
    }

    &[data-role='sns'] {
      grid-column: 1;
    }
  }

  .link:has(.social-icon-img) {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 1rem;
    align-items: center;
  }

  .social-icon {
    display: grid;
    place-content: center;
    place-items: center;
    padding: 5px;
    overflow: hidden;
    border-width: 1px;
    border-radius: 100%;
  }

  .copyright {
    display: block;
    width: 35%;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin: 0 auto;
    text-align: center;
    border-top: 2px solid var(--black);
  }
}
