// ==================================================================
// header
// ==================================================================
@use "../variables" as v;

header {
  padding-top: env(safe-area-inset-top);
}

.header {
  position: sticky;
  top: 0;
  z-index: 11;
  background-color: var(--white);
  border-bottom: solid 15px var(--green);

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .title-box {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }

  &-nav {
    gap: 23px;
    text-align: center;

    @include v.flex(space-between, flex-end);
  }

  .link {
    padding: 20px 25px;

    @include v.flex;
  }
}
