// ==================================================================
// header
// ==================================================================
header {
  padding-top: env(safe-area-inset-top);
}

.header {
  position: sticky;
  top: 0;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .title-box {
    display: flex;
    align-items: center;
  }

  &-nav {
    display: flex;
    gap: 23px;
    align-items: flex-end;
  }

  .link {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: space-around;
    padding: 20px 25px;
  }
}
