// ==================================================================
// header
// ==================================================================
@use "../variables" as v;

header {
  padding-top: env(safe-area-inset-top);
}

.header {
  position: sticky;
  top: 0;
  z-index: 11;
  min-height: 0;
  background-color: var(--white);

  @include v.media(mobile) {
    .logo {
      margin: 0 auto;
    }
  }

  &::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100dvw;
    height: 0;
    content: "";
    background-color: var(--white);
    transition: height 0.5s ease;
    transition-delay: 1s;
  }

  &.open::before {
    height: 100dvh;
    transition-delay: 0s;
  }

  .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding-bottom: 1rem;
    gap: 2rem;
    @include v.media(mobile) {
      grid-template-columns: 1fr auto;
      gap: 1rem;
    }
  }

  .title-box {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    grid-column: 1;
    @include v.media(mobile) {
      flex-direction: column;
    }

    &::after {
      display: none;
    }
  }

  &-nav {
    &-pc {
      gap: 3rem;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include v.media(mobile) {
        gap: 1rem;
        height: 0;
        margin-top: 1rem !important;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;

        .open & {
          transform: translateX(0);
          transition-delay: 1s;
        }
      }
      @include v.media(mobile) {
        .header-nav-list:last-of-type {
          display: none;
        }
      }
    }

    .link {
      padding: 1rem 1.5rem;
      white-space: nowrap;
      gap: 1rem;
      @include v.flex(center, center);

      @include v.media(mobile) {
        border-radius: 10px;
      }
    }

    &-sp {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      align-self: center;
      grid-column: 2;

      .link,
      .nav-toggle {
        gap: 0.2rem;
        max-width: 100px;
        aspect-ratio: 1;
        padding: 0.5rem;
        color: var(--white);
        border-radius: 10px;
        display: grid;
        place-content: center;
        overflow: hidden;

        img {
          margin: 0 auto;
          height: 80%;
        }
      }

      .nav-toggle {
        width: 100%;
        border: none;

        .menu-open {
          display: none;

          .open & {
            display: block;
          }
        }

        .menu-close {
          display: block;

          .open & {
            display: none;
          }
        }
      }
    }
  }
}
.nav-pc {
  grid-column: 3;
  @include v.media(mobile) {
    grid-column: auto;
    height: 0;
  }
}
