// ==================================================================
// header
// ==================================================================
@use "../variables" as v;

header {
  padding-top: env(safe-area-inset-top);
}

.header {
  position: sticky;
  top: 0;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .title-box {
    display: flex;
    align-items: center;
  }

  &-nav {
    gap: 23px;
    text-align: center;

    @include v.flex(space-between, flex-end);
  }

  .link {
    gap: 1.2rem;
    padding: 20px 25px;

    @include v.flex;
  }
}
