// ==================================================================
// header
// ==================================================================
@use '../variables' as v;

header {
  padding-top: env(safe-area-inset-top);
}

.header {
  position: sticky;
  top: 0;
  z-index: 11;
  min-height: 0;
  background-color: var(--white);
  transform: translateY(0);
  transition: transform 1s ease;

  @extend %font-lg-black;

  @include v.media(mobile) {
    .logo {
      margin: 0 auto;
    }
  }

  @include v.media(sp) {
    &-icon {
      max-width: 20%;
    }
  }

  &.is-scroll {
    transform: translateY(-100%);
    transition-duration: 0.2s;
  }

  &::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100dvw;
    height: 0;
    content: '';
    background-color: var(--white);
    transition: height 0.5s ease;
    transition-delay: 1s;
  }

  &.open::before {
    height: 100dvh;
    transition-delay: 0s;
  }

  .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 2rem;
    align-items: center;
    padding: 0.5rem;

    @include v.media(mobile) {
      gap: 0 1rem;
    }
  }

  .title-box {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 0;

    @include v.media(mobile) {
      flex-direction: column;
      gap: 0;
    }

    &-sub-title {
      font-size: var(--font-lg);
    }

    &::after {
      display: none;
    }
  }

  &-nav-pc {
    display: flex;
    gap: 1rem;
    text-align: center;

    @include v.media(mobile) {
      flex-direction: column;
      gap: 1.5rem;
      transform: translateX(-100vw);
      transition: transform 0.5s ease;

      .open & {
        transform: translateX(5vw);
        transition-delay: 1s;
      }
    }

    @include v.media(mobile) {
      .header-nav-list:last-of-type {
        display: none;
      }
    }
  }

  .link {
    gap: 1rem;
    white-space: nowrap;

    @include v.flex(flex-start, center);

    @include v.media(mobile) {
      border-radius: 10px;
    }
  }

  &-nav-sp {
    @include v.media(mobile) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      align-self: center;
      transform: scale(0.8);
      transform-origin: center;

      .link,
      .nav-toggle {
        display: grid;
        gap: 0.2rem;
        place-content: center;
        max-width: 75px;
        aspect-ratio: 1;
        overflow: hidden;
        font-size: var(--font-md);
        font-weight: var(--font-weight-medium);
        color: var(--white);
        border-radius: 10px;

        &:visited {
          color: var(--white);
        }
      }

      img {
        height: 80%;
        margin: 0 auto;
      }

      .user-icon {
        position: relative;
        gap: 0.8rem;
        width: 100%;
        max-width: 60px;
        min-height: 40px;
        margin-inline: auto;
        overflow: hidden;

        &::before,
        &::after {
          position: absolute;
          left: 50%;
          margin-inline: auto;
          content: '';
          background-color: var(--white);
          border-radius: 50%;
          transform: translateX(-50%);
        }

        &::before {
          top: 0.15em;
          width: 20px;
          height: 20px;
        }

        &::after {
          bottom: -0.9rem;
          width: 70%;
          height: 20px;
        }
      }
    }
  }
}

.nav-toggle {
  width: 100%;
  border: none;

  .menu-open {
    display: none;

    .open & {
      display: block;
    }
  }

  .menu-close {
    display: block;

    .open & {
      display: none;
    }
  }
}

.nav {
  &-pc {
    grid-column: 3;
    transition: height 0.5s ease;

    @include v.media(mobile) {
      grid-column: auto;
      height: 0;

      .open & {
        height: 100%;
        padding-top: 2rem;
      }
    }
  }

  &-sp {
    display: none;
    grid-column: 3;

    @include v.media(mobile) {
      display: block;
    }
  }
}
