// ==================================================================
// header
// ==================================================================
@use "../variables" as v;

header {
  padding-top: env(safe-area-inset-top);
}

.header {
  position: sticky;
  top: 0;
  z-index: 11;
  min-height: 0;
  background-color: var(--white);
  border-bottom: solid 15px var(--green);

  @include v.media(mobile) {
    .header {
      .logo {
        width: 60%;
        margin: 0 auto;
      }
    }
  }

  &::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100dvw;
    height: 0;
    content: "";
    background-color: var(--white);
    transition: height 0.5s ease;
    transition-delay: 1s;
  }

  &.open::before {
    height: 100dvh;
    transition-delay: 0s;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .title-box {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    @include v.media(mobile) {
      flex-direction: column;
    }

    &::after {
      display: none;
    }
  }

  &-nav {
    @include v.media(mobile) {
      &-list {
        width: 100%;

        &.disabled {
          margin-top: 2rem;
        }
      }
    }

    &-pc {
      gap: 0.5rem;
      text-align: center;

      @include v.flex(space-between, baseline);

      @include v.media(mobile) {
        flex-direction: column;
        gap: 1rem;
        height: 0;
        margin-top: 1rem !important;
        transform: translateX(-100%);
        transition: transform 0.5s ease;

        .open & {
          transform: translateX(0);
          transition-delay: 1s;
        }

        .header-nav-list:last-child {
          &:last-child {
            display: none;
          }
        }
      }
    }

    .link {
      padding: 1rem 1.5rem;
      white-space: nowrap;

      @include v.flex(center, center);

      @include v.media(mobile) {
        border-radius: 10px;
      }
    }

    &-sp {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      align-self: center;

      .link,
      .nav-toggle {
        flex-direction: column;
        gap: 0.2rem;
        max-width: 100px;
        aspect-ratio: 1;
        padding: 0.5rem;
        color: var(--white);
        border-radius: 10px;

        @include v.flex(center, center);

        img {
          margin: 0 auto;
        }
      }

      .nav-toggle {
        width: 100%;
        border: none;

        .menu-open {
          display: none;

          .open & {
            display: block;
          }
        }

        .menu-close {
          display: block;

          .open & {
            display: none;
          }
        }
      }
    }
  }
}
