@use "../variables" as v;

.has-seal {
  position: relative;
}
.seal {
  position: absolute;
  transform-origin: 50% 10%;
  animation: seal-bell 10s ease-in-out infinite;
  z-index: 1;
  @include v.media(mobile) {
    max-width: 79px;
  }
  &-block {
    display: contents;
  }
  &-kv {
    &-1 {
      left: 0;
      bottom: 0;
    }
    &-2 {
      right: 0;
      bottom: 0;
    }
  }

  &--site-nav {
    top: -30%;
    right: -15%;

    @include v.media(mobile) {
      right: 0;
    }
  }

  &--sns {
    top: -8rem;
    left: -2rem;
  }
}

@keyframes seal-bell {
  0% {
    transform: rotate(var(--seal-rotate, 0deg));
  }

  10% {
    transform: rotate(calc(var(--seal-rotate, 0deg) + 6deg));
  }

  25% {
    transform: rotate(calc(var(--seal-rotate, 0deg) - 4deg));
  }

  45% {
    transform: rotate(calc(var(--seal-rotate, 0deg) + 2deg));
  }

  65% {
    transform: rotate(calc(var(--seal-rotate, 0deg) - 1deg));
  }

  100% {
    transform: rotate(var(--seal-rotate, 0deg));
  }
}

@media (prefers-reduced-motion: reduce) {
  .seal {
    animation: none;
  }
}
