@use '../variables' as v;

// スライダー共通設定
.swiper {
  &-button {
    z-index: 9;
    width: 100%;
    pointer-events: none;

    @extend %absolute-center;
    @include v.flex;

    &-prev {
      border-radius: 100% 0 0 100% / 50%;
    }

    &-next {
      border-radius: 0 100% 100% 0 / 50%;
    }

    &-arrow {
      position: static;
      width: 82.5px;
      height: 165px;
      aspect-ratio: 1;
      font-size: 5rem;
      color: var(--black);
      pointer-events: auto;
      background-color: var(--yellow);
      border: none;
      transition: transform 0.2s ease-in-out;

      @include v.media(sp) {
        width: 10vw;
        height: 30vw;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &-navigation-icon {
    display: none;
  }

  &-product {
    grid-template-columns: 1fr;
  }

  &-post {
    grid-template-columns: 1fr 1fr;

    @include v.media(sp) {
      grid-template-columns: 1fr;
    }
  }

  &-arrow {
    position: static;
    width: 82.5px;
    height: 165px;
    aspect-ratio: 1;
    font-size: 5rem;
    color: var(--black);
    pointer-events: auto;
    background-color: var(--yellow);
    border: none;
    transition: transform 0.2s ease-in-out;

    @include v.media(sp) {
      width: 10vw;
      height: 30vw;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &-img {
    margin-inline: auto;
  }
}

.pickup {
  &-swiper {
    text-align: center;

    &-slide {
      display: grid;
      gap: 0.5rem;
      align-content: center;
      align-items: center;
      max-width: 60%;
      margin: 0;
      overflow: hidden;
      background-color: var(--white);

      @include v.media(mobile) {
        max-width: 90%;
      }
    }
  }
}

.single {
  &-swiper {
    img {
      width: 100%;
      height: 100%;
      margin-block: auto;
      object-fit: contain; /* or cover */
    }

    &-arrow {
      width: 60px;
      height: 120px;
    }
  }

  &-thumb-swiper {
    margin-top: 2rem;
  }

  .swiper-wrapper {
    align-items: center;
  }
}
