/** ==============================
** フロントページ
**================================ */
@use "../variables" as v;

.kv {
  height: 515px; // サンプル用
  background-color: #fff; // サンプル用
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;

  @include v.media(mobile) {
    width: 100%;
    height: auto;
  }

  &-img {
    height: 100%; // サンプル用
    margin: 0 auto; // サンプル用
  }
}

.pickup {
  &-product {
    margin: 9rem 0;

    @include v.media(mobile) {
      margin: 3rem 0;
    }
  }
  &-card {
    // max-width: 80%; // 検証
    // max-height: 407px; // 検証
    //margin: 0 3rem;
    background-color: #fff; // 検証

    @include v.media(mobile) {
      margin: 0 1rem;
    }

    img {
      margin: 0 auto;
    }
  }

  .seal-block {
    width: 100%;
    max-width: 1440px;
    height: 100%;

    @extend %absolute-center;
  }
}
.tag {
  &-item {
    position: relative;

    .link {
      padding: 2.5rem 5rem;
    }

    &.disabled {
      margin-top: 2rem;
    }
  }

  &-name {
    margin-bottom: 1rem;
    font-size: var(--font-lg);
  }

  &-content {
    font-weight: 500;
  }
}

.school-prep {
  padding-bottom: 7rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 3rem;
}
