/** ==============================
** フロントページ
**================================ */
@use '../variables' as v;

.pickup {
  &-product {
    margin: 9rem 0;

    @include v.media(mobile) {
      margin: 3rem 0;
    }
  }
}

.problem {
  &-list {
    max-width: 90%;
    margin-inline: auto;

    @include v.media(sp) {
      max-width: none;
    }
  }

  &-card {
    padding: 1.75rem;

    &-imgbox {
      aspect-ratio: 16/9;

      @include v.flex(center, center);
    }

    &-img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }

  .card-content {
    font-size: var(--font-md);
    font-weight: var(--font-weight-medium);
  }
}

.feature {
  &-inner {
    gap: 3rem;

    @include v.flex(space-evenly, center);

    @include v.media(sp) {
      flex-direction: column;
    }
  }

  &-list {
    display: grid;
    flex: 0.8;
    gap: 3rem;
    width: 100%;

    &-item {
      padding-bottom: 1rem;
    }

    &-title {
      margin-bottom: 0.5rem;
      font-weight: var(--font-weight-black);
    }
  }

  .main-layout {
    place-items: center;
  }
}

.howto {
  &-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &-item {
    position: relative;
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 550px;
    max-width: 50%;

    @include v.media(sp) {
      width: 100%;
      max-width: none;
    }

    &:first-child {
      align-self: flex-start;

      @include v.media(sp) {
        align-self: center;
      }
    }

    &:nth-child(2) {
      align-self: center;
    }

    &:last-child {
      align-self: flex-end;

      @include v.media(sp) {
        align-self: center;
      }

      .howto-imgcontainer::after {
        display: none;
      }
    }
  }

  &-imgcontainer {
    position: relative;
    width: clamp(180px, 30%, 250px);
    min-width: 180px;
    border-radius: 50%;

    --circle-size: 180px;

    @include v.media(sp) {
      width: 30%;
      min-width: 0;
    }

    &::after {
      position: absolute;
      top: calc(100% + 3rem);
      left: 70%;
      width: clamp(80px, 11vw, 200px);
      height: 2px;
      content: '';
      border: dashed 2px var(--navy);
      transform: rotate(45deg);
      transform-origin: center;

      @include v.media(sp) {
        top: 100%;
        left: 50%;
        width: 2px;
        height: 80px;
        transform: translateX(-50%);
      }

      @include v.media(tab) {
        transform: rotate(55deg);
      }
    }
  }

  &-imgbox {
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    overflow: hidden;
  }

  &-img {
    object-fit: contain;

    @include v.media(sp) {
      max-width: 80%;
      max-height: 80%;
    }
  }

  &-content {
    display: grid;
    flex: 1;
    gap: 2rem;
    white-space: nowrap;

    @include v.media(sp) {
      width: 50%;
    }
  }

  &-text {
    font-size: 1.14rem;
    text-align: center;
  }

  &-step-title {
    display: inline-block;
    margin-inline: auto;
  }
}

.prep {
  &-list {
    max-width: 90%;
    margin-inline: auto;

    @include v.media(sp) {
      grid-template-columns: auto;
    }
  }

  &-card {
    position: relative;
    grid-template-rows: 1fr auto;
    gap: 2rem;

    &-content {
      grid-template-rows: auto 5rem 1fr;
      height: 100%;
      text-align: center;
    }

    &:nth-child(n) &-content {
      border-width: 5px;

      @extend %border;
      @extend %radius;
    }

    &:first-child &-content {
      background-color: var(--light-yellow);
      border-color: var(--yellow);
    }

    &:nth-child(n + 2) &-content {
      border-color: var(--light-navy);
    }

    &[data-card='first-action'] {
      grid-column: span 2;
      max-width: 100%;
    }
  }

  &-title,
  &-text {
    z-index: 1;
  }

  &-title {
    font-weight: var(--font-weight-black);
  }

  &-text {
    max-width: 246px;
    margin-inline: auto;
  }

  &-imgbox {
    aspect-ratio: auto;
  }

  .first-action {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px 30px 30px 0;

    @extend %font-md-black;

    @include v.media(tab) {
      padding: 1rem;
    }

    @include v.media(sp) {
      padding: 0.5rem;
      font-size: 1rem;
    }
  }

  .link.btn {
    max-width: 200px;
    height: 67px;
    margin-inline: auto;
    font-weight: var(--font-weight-black);
  }
}

.adminvoice {
  margin-bottom: 9rem;

  .main-layout-reverse {
    width: 95%;
    margin: 0 auto;
  }

  &-left {
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 100%;
  }

  &-right {
    display: grid;
    grid-template-rows: auto;
    gap: 2.5rem;
  }

  &-name {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
  }

  &-title {
    font-size: var(--font-md);
    font-weight: var(--font-weight-bold);
  }
}
