/** ==============================
** フロントページ
**================================ */
@use '../variables' as v;

.pickup {
  &-product {
    margin: 9rem 0;

    @include v.media(mobile) {
      margin: 3rem 0;
    }
  }

  .seal-block {
    width: 100%;
    max-width: 1440px;
    height: 100%;

    @extend %absolute-center;
  }
}

.problem {
  &-list {
    max-width: 90%;
    margin-inline: auto;

    @include v.media(sp) {
      max-width: none;
    }
  }

  &-card {
    padding: 2rem;

    &-imgbox {
      aspect-ratio: 16 / 9;

      @include v.media(mobile) {
        aspect-ratio: 0;
      }
    }

    &-img {
      max-width: 100%;
      height: auto;
    }
  }

  .card-content {
    font-size: var(--font-md);
    font-weight: var(--font-weight-medium);
  }
}

.feature {
  &-inner {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-evenly;

    @include v.media(sp) {
      flex-direction: column;
    }
  }

  &-list {
    display: grid;
    flex: 0.8;
    gap: 3rem;
    width: stretch;

    &-item {
      padding-bottom: 1rem;
    }

    &-title {
      margin-bottom: 0.5rem;
      font-weight: var(--font-weight-black);
    }
  }

  .main-layout {
    place-items: center;
  }
}

.howto {
  &-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &-item {
    position: relative;
    display: inline-flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 550px;
    max-width: 50%;

    @include v.media(sp) {
      width: 100%;
      max-width: none;
    }

    &:first-child {
      align-self: flex-start;

      @include v.media(sp) {
        align-self: center;
      }
    }

    &:nth-child(2) {
      align-self: center;
    }

    &:last-child {
      align-self: flex-end;

      @include v.media(sp) {
        align-self: center;
      }

      .howto-imgwrapper::after {
        display: none;
      }
    }
  }

  &-imgwrapper {
    position: relative;
    width: clamp(180px, 40vw, 250px);
    border-radius: 50%;

    @include v.media(sp) {
      width: 30%;
    }

    &::after {
      position: absolute;
      top: 130%;
      right: -30%;
      width: clamp(80px, 10vw, 150px);
      height: 2px;
      content: '';
      border: dashed 2px var(--navy);
      transform: rotate(45deg);
      transform-origin: right center;

      @include v.media(sp) {
        top: 100%;
        left: 50%;
        width: 2px;
        height: 30px;
        transform: translateX(-50%);
      }

      @include v.media(tab) {
        top: 135%;
        right: -17%;
        transform: rotate(55deg);
      }
    }
  }

  &-imgbox {
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    overflow: hidden;
  }

  &-img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
  }

  &-content {
    display: grid;
    flex: 1;
    gap: 2rem;
    white-space: nowrap;

    @include v.media(sp) {
      width: 50%;
    }
  }

  &-text {
    font-size: 1.14rem;
    text-align: center;
  }

  &-step-title {
    width: 70%;
    margin-inline: auto;
  }
}

.prep {
  &-list {
    max-width: 90%;
    margin-inline: auto;

    @include v.media(sp) {
      grid-template-columns: auto;
    }
  }

  &-card {
    position: relative;
    grid-template-rows: 1fr auto;
    gap: 2rem;

    &-content {
      height: 100%;
      text-align: center;
    }

    &[data-card='first-action'] {
      grid-column: span 2;
      max-width: 100%;
    }
  }

  &-title,
  &-text {
    z-index: 1;
  }

  &-title {
    grid-row: 2;
    font-weight: var(--font-weight-black);
  }

  &-text {
    grid-row: 3;
    max-width: 246px;
    margin-inline: auto;
  }

  &-imgbox {
    grid-row: 5;
    aspect-ratio: auto;
  }

  .first-action {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px 30px 30px 0;

    @extend %font-md-black;

    @include v.media(tab) {
      padding: 1rem;
    }

    @include v.media(sp) {
      padding: 0.5rem;
    }
  }

  .link.btn {
    max-width: 200px;
    height: 67px;
    margin-inline: auto;
    font-weight: var(--font-weight-black);
  }
}

.adminvoice {
  &.container {
    width: 70%;
    max-width: 843px;
  }

  .main-layout-reverse {
    width: 95%;
    margin: 0 auto;
  }

  &-left {
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 100%;
  }

  &-message {
    margin-bottom: 3rem;
  }

  &-name {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
  }
}
