/** ==============================
** フロントページ
**================================ */
@use "../variables" as v;

.kv {
  background-color: var(--white);
  @include v.media(mobile) {
    width: 100%;
    height: auto;
  }
  &-imgbox {
    width: 100%;
  }
  &-img {
    height: 100%; // サンプル用
    margin: 0 auto; // サンプル用
  }
  > .container {
    @include v.flex;
    gap: 3rem;
  }
  &-textarea {
    max-width: 35%;
    text-align: center;
  }
  &-content {
    margin-bottom: 1.5rem;
  }
  &-title {
    margin-bottom: 1rem;
  }
  &-link {
    max-width: 45%;
  }
}

.pickup {
  &-product {
    margin: 9rem 0;

    @include v.media(mobile) {
      margin: 3rem 0;
    }
  }

  .seal-block {
    width: 100%;
    max-width: 1440px;
    height: 100%;

    @extend %absolute-center;
  }
}

.problem {
  &-list {
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    max-width: 80%;
    margin: 0 auto !important;
  }
  &-card {
    padding: 2rem;
    &-imgbox {
      aspect-ratio: auto;
    }
    &-img {
      max-width: 100%;
      height: auto;
    }
  }
  .card-content {
    font-weight: 500;
  }
}
