@use '../variables' as v;

.old_diagnostic {
  &-card {
    grid-template-rows: 1fr;
    text-align: center;
    box-shadow: 6px 6px 10px 0 rgb(20 108 148 / 100%);

    &-content {
      gap: 2.5rem;
    }

    &-title {
      font-size: 1.5rem;
      font-weight: var(--font-weight-black);
      text-align: center;
    }

    .link {
      max-width: 100%;
      margin-inline: auto;
    }
  }
}
