@use '../variables' as v;

.woocommerce {
  &-breadcrumb {
    padding: 0.5rem !important;
    font-size: var(--font-md) !important;
    color: var(--white) !important;
    background-color: var(--navy);

    a {
      color: inherit !important;
    }
  }

  &-breadcrumb .container {
    padding: 0;
  }

  header {
    margin-bottom: 3rem;
    text-align: center;
  }

  .page-title {
    display: inline-block;
    margin-bottom: 2rem;
    font-size: var(--font-lg);
    font-weight: var(--font-weight-medium);

    @extend %title-border-150;

    &::after {
      border-bottom-color: var(--black);
    }
  }

  &-loop-category__title,
  &-loop-product__title {
    font-size: var(--font-lg) !important;
  }

  &-pagination {
    ul {
      border-color: transparent !important;

      li {
        margin: 0 1rem !important;
        background-color: var(--yellow);

        @extend %radius;
      }

      span,
      a {
        font-size: var(--font-md) !important;

        &:hover {
          color: var(--white) !important;
          background-color: var(--navy) !important;
        }

        .current {
          color: var(--white) !important;
          background-color: var(--navy) !important;
        }
      }
    }
  }
}

.price {
  del .amount {
    font-size: var(--font-md);
    color: var(--black);
  }

  ins {
    text-decoration: none;

    .amount {
      font-size: var(--font-lg);
      color: var(--navy);
    }
  }
}
