.woocommerce {
  &-MyAccount-navigation {
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0;
      list-style: none;
    }
  }

  form {
    .form-row {
      float: none;
    }
  }
}
