@use '../variables' as v;

// 商品リストの標準設定
ul {
  &.products {
    text-align: center;

    li.product {
      padding: 1rem !important;
      overflow: hidden;
      background-color: var(--white);

      @extend %border;
      @extend %radius;

      .onsale {
        top: 2rem !important;
        right: 2rem !important;
        display: grid;
        align-content: center;
        align-items: center;
        min-width: 4rem;
        aspect-ratio: 1;
        color: var(--black);
        background-color: var(--yellow);
      }

      img {
        margin-inline: auto;
        border-radius: 15px;
      }
    }
  }
}

ul.category-archive {
  li.product {
    padding: 0;
    border: none;
    border-radius: 0;
  }
}

.product-card {
  padding: 1rem;
  text-align: center;

  &-list {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }

  &-imgbox {
    aspect-ratio: 0;
  }
}

.diagnostic-card {
  gap: 0;
  text-align: center;

  &-title {
    font-size: var(--font-lg);
  }
}
