@use "../variables" as v;
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: var(--font-lg);
  line-height: 1;
  @extend %radius;
  border: 2px solid transparent;

  &.link {
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  }
  &-navy {
    background-color: var(--navy);
    color: var(--white);
    &.link:hover {
      border-color: var(--navy);
      background-color: var(--white);
      color: var(--navy);
    }
  }

  &-lightnavy {
    background-color: var(--light-navy);
    color: var(--black);
    &.link:hover {
      border-color: var(--light-navy);
      color: var(--light-navy);
      background-color: var(--white);
    }
  }

  &-yellow {
    background-color: var(--yellow);
    color: var(--black);
    &.link:hover {
      border-color: var(--yellow);
      background-color: var(--white);
      color: currentColor;
    }
  }
}
