@use '../variables' as v;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: var(--font-lg);
  line-height: 1;
  border: 2px solid transparent;

  @extend %radius;

  &.link {
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  }

  &-navy {
    color: var(--white);
    background-color: var(--navy);

    &.link:hover {
      color: var(--navy);
      background-color: var(--white);
      border-color: var(--navy);
    }
  }

  &-lightnavy {
    color: var(--black);
    background-color: var(--light-navy);

    &.link:hover {
      color: var(--light-navy);
      background-color: var(--white);
      border-color: var(--light-navy);
    }
  }

  &-yellow {
    color: var(--black);
    background-color: var(--yellow);

    &.link:hover {
      color: currentcolor;
      background-color: var(--white);
      border-color: var(--yellow);
    }
  }
}
