@use "../variables";

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  align-items: center;
  color: inherit; //カードがaタグだった場合の処理
  max-width: 550px;
  @at-root a#{&} {
    &:visited,
    &:active {
      color: inherit; //カードがaタグだった場合の処理
    }
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    align-items: stretch;
    justify-content: space-between;
  }

  &-content {
    display: grid;
    gap: 0.5rem;
    align-self: start;
  }

  &-imgbox {
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &-img {
    width: auto;
    height: 100%;
  }
  &-sublist {
    @extend %list-disc;
  }

  &-link {
    color: var(--black);

    &:visited,
    &:active {
      color: var(--black);
    }
    &:hover .card-img {
      transform: scale(1.2);
    }
  }
}
