@use '../variables';

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  place-content: center stretch;
  max-width: 550px;
  color: inherit; // カードがaタグだった場合の処理

  &-title {
    font-size: 2rem;
  }

  &-text {
    line-height: inherit;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    align-items: stretch;
    justify-content: space-between;
  }

  &-content {
    display: grid;
    grid-template-rows: auto;
    gap: 0.5rem;
    align-content: start;
    align-self: start;
  }

  &-imgbox {
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    overflow: hidden;
  }

  &-img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }

  &-sublist {
    @extend %list-disc;
  }

  &-link {
    color: inherit;

    &:visited,
    &:active {
      color: inherit;
    }

    &:hover .card-img {
      transform: scale(1.2);
    }
  }

  @at-root a#{&} {
    &:visited,
    &:active {
      color: inherit; // カードがaタグだった場合の処理
    }
  }
}
