@use "../variables" as v;

.link {
  display: inline-block;
  align-items: center;
  color: var(--black);
  text-decoration: none;

  @extend %radius;

  &.icon {
  }

  .bg-green & {
    color: var(--white);
    background-color: transparent;
  }

  .bg-yellow & {
    background-color: var(--white);
  }

  .disabled & {
    background-color: var(--gray);
  }
}

.icon::after {
  width: 40px;
  height: 40px;
  font-family: "Material Symbols Rounded";
  font-size: 2rem;
  text-align: center;
  content: "\e315";
  border-radius: 100%;

  .header & {
    background-color: var(--white);
  }

  .bg-yellow & {
    background-color: var(--yellow);
  }
}
