@use "../variables" as v;

.link {
  position: relative;
  display: inline-block;
  gap: 1.2rem;
  align-items: center;
  width: 100%;
  color: var(--black);
  text-decoration: none;

  @extend %radius;

  .bg-green & {
    color: var(--white);
    background-color: transparent;
  }

  .bg-yellow & {
    background-color: var(--white);
  }

  .disabled & {
    pointer-events: none;
    cursor: not-allowed;
    background-color: var(--gray);

    &::before {
      position: absolute;
      top: -1.5rem;
      left: 1rem;
      content: "Comming Soon...";
    }
  }

  .social-link & {
    @include v.flex(center, center);
  }
}

.icon::after {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  font-family: "Material Symbols Rounded";
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  content: "\e315";
  border-radius: 100%;

  .header & {
    background-color: var(--white);
  }

  .bg-yellow & {
    background-color: var(--yellow);
  }

  .tag-item & {
    position: absolute;
    top: 50%;
    right: 2%;
    width: 64px;
    height: 64px;
    font-size: 3rem;
    transform: translateY(-50%);
  }
}
